/* ===== NAVBAR ===== */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1e3d59;
    padding: 15px 40px;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    margin: 0;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.nav-links a:hover {
    color: #ff6e40;
}

/* ===== GLOBAL ===== */
body {
    margin: 0;
    font-family: Arial, sans-serif;

}

.container {
    width: 80%;
    margin: auto;
    padding: 40px 0;
}

/* TITRES */
h1 {
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    color: #1e3d59;
}

h3 {
    margin-top: 15px;
}

/* BLOCS */
.competence {
    background: white;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: left;
}

.intro {
    background: white;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}

/* LISTES */
ul {
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
}