

p{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    font-size: 45px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
}

/* Image */
.photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* Disposition des deux blocs */
.row {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}

/* Style des deux blocs */
.box {
    width: 40%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: left;
}

h2{
    font-family: 'Times New Roman', Times, serif;
}


/* ===== PRÉSENTATION ===== */
.presentation p {
    font-size: 1.1rem;
}

/* Compétences */
.competences .skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.skill-box {
    flex: 1 1 45%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: left;
}

.skill-box h3 {
    color: #1e3d59;
    margin-bottom: 10px;
}

.skill-item {
    margin-bottom: 8px;
    font-size: 1.05rem;
}

/* Évolution et projet */
.evolution, .projet {
    background: white;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* ===== NAVBAR ===== */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1e3d59;
    padding: 15px 40px;
    color: white;
    position: sticky;
    top: 0;
}

.logo {
    margin: 0;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #f4a261;
}